nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-left: 5%;
    padding-right: 5%; 
    font-weight: bold;
   
    }
    
    h1{
        color: rgb(9, 92, 6);
        font-size: 45px;
    }
    
    ul li{
        display:inline-block;
        padding: 5px 85px;
    }
    
    a{
        color: rgb(9, 92, 6);
        text-decoration:navajowhite;
    }

    


    
    
